services:
  # 1. Base de Datos MySQL (EXTERNAL - Railway)
  # Este servicio ha sido eliminado del YAML porque es externo.

  # 2. Servicio de Backend PHP-FPM (Servicio Privado)
  - type: pserv
    name: app
    env: docker
    dockerfilePath: docker/php/Dockerfile
    dockerContext: .
    autoDeploy: true
    branch: main

    # Variables de Entorno del Backend de Laravel
    envVars:
      - key: DB_HOST
        value: gondola.proxy.rlwy.net # Host estático de Railway
      - key: DB_USERNAME
        value: root 
      - key: DB_PASSWORD
        value: bKKteZDDnEdMMgSYRPgvETHwoZzGnfwX 
      - key: DB_DATABASE
        value: railway
      - key: DB_PORT
        value: 15296
      - key: DB_CONNECTION
        value: mysql
      - key: APP_KEY
        generateValue: true
      - key: APP_ENV
        value: production
      - key: NGINX_HOST
        value: ritmatiza-web.onrender.com

  # 3. Servicio Web Nginx (El Punto de Entrada Público)
  - type: web
    name: ritmatiza-web
    env: docker
    dockerfilePath: docker/nginx/Dockerfile
    dockerContext: .
    autoDeploy: true
    branch: main

    # CRÍTICO: Comando que compila React y mueve los archivos
    buildCommand: |
      cd frontend && npm install
      npm run build
      mv dist/* ../backend/public/
      cd ..

    envVars:
      - key: APP_URL
        value: https://${ritmatiza-web.host}

    healthCheckPath: /health.html # Apunta a un archivo estático