#formulario1, #formulario {
    position: absolute;
    top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    max-width: 400px;
    width: 90%;
}

.titulo {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

#botonActualizar {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #8000D6;
    color: #fff;
    margin-top: 15px;
}

#botonActualizar:hover {
    background-color: #BE86E4;
    color: #333;
}

button:hover {
    transform: scale(1.1);
}

.carga {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #666;
}

.cerrar {
    background-color: #F23B38;
    margin: 0;
    left: 80%; 
    top: 50px;
    color: #fff;
    position: absolute;
}

.input_container select {
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 5px; 
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid grey; 
    cursor: pointer;
    color: black; 
}

.input_container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 2px;
    padding-top: 20px;
}

.input_container input {
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
}

.input_container input:focus~label,
.input_container input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
    border-width: 2px;
    top: 5px;
    font-size: 12px;
    color: #3B9AFF;
}

.input_container input:focus {
    border-width: 2px;
    border-color: #3B9AFF;
}

.input_container label {
    position: absolute;
    left: 5px;
    top: 25px;
}

.input_container select {
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 5px; 
    font-size: 14px;
    margin-top: -15px;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid grey; 
    cursor: pointer;
    color: black; 
}

.input_container select:first-of-type {
    margin-top: -20px;
}