* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body {
    width: 100dvw;
    overflow-y: hidden;
    overflow: hidden;
    margin: 0px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #F2F8FF;
    display: grid;
    min-height: 100dvh;
    padding-top: 10px;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

header {
    text-align: center;
    border-bottom: 2px solid #c5defa;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

img {
    height: 50px;
    margin-right: 50px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;    
    margin: 0;
    padding: 0;
}

.menu ul li a:hover {
    color: #007bff;
}

nav.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#acceso {
    display: flex;
    gap: 10px;
    align-items: center;
}

#acceso button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#iniciar_sesion {
    background-color: #FADA5F;
    color: #007bff;
}

#iniciar_sesion:hover {
    transform: scale(1);
    background-color: #FFF7DB;
    color: #007bff;
}

.registro_sesion {
    background-color: #FFF7DB;
    color: #007bff;
}

.registro_sesion:hover {
    transform: scale(1);
    background-color: #FADA5F;
    color: #007bff;
}

.cerrar {
    background-color: #F23B38;
    color: white;
}

.user-icon {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #FADA5F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

.user-icon:hover {
    transform: scale(1.05);
}

main {
    display: flex;
    justify-content: center;
}

footer p {
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

button:hover {
    transform: scale(1);
}