.sidebar {
    position: fixed;
    top: 0;
    left: 0; 
    width: 250px;
    height: 100vh;
    background-color: #FADA5F;
    display: flex;
    flex-direction: column; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #284b70;
}

.logo {
    max-width: 220px;
    margin: 0;
    height: auto;
}

.navigation {
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 20px 0;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navLink {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 1.1em;
    color: #213547;
}

.navLink:hover {
    background-color: #213547;
    color: white;
}

.isActive {
    background-color: #213547;
    color: white;
}

.marcado {
    background-color: #008cba; 
    border-left: 5px solid white;
    font-weight: bold;
}

.footer {
    padding: 15px 20px;
}

.userProfile {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.userIconSvg {
    margin-right: 10px;
    min-width: 30px;
    fill: #213547;
}

.userInfo {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.userName {
    font-weight: bold;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    color: #213547;
}

.userRole {
    font-size: 0.85em;
    color: #213547;
}

.userEmail {
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #213547;
}

.accessLinks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accessButton:hover {
    background-color: #bdc3c7;
}

.form_actualizar {
    margin: 0;
    margin-left: 250px;
}

.div_boton_admin {
    position: absolute;
    left: 10px;
    bottom: 80px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex; 
    justify-content: center;
}

.logoutButton {
    background-color: #F23B38;
    border: none;
    color: white;
    padding: 1px 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.logoutButton:hover{
    transform: scale(1);
    background-color: #C60000;
    left: 30px;
}